<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Gestion Empleados |Error code:404</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
		<link rel="stylesheet" href="{{url_for('static',filename='css/error_style.css')}}">

		
	</head>
	<body>
		<!--form area start-->
	

		<div class="error">
			<div class="face">😓</div>
			<span class="e404">error Code: 404</span>
			<span class="oops">OOPS...</span>
			<p>Esta mal escrito la dirección</p>
			

				
				<a class="btn" href="/">Inicio</a>  
			
		</div>	


		<!--form area end-->
	</body>
	<footer></footer>
</html>