{% extends 'index.html' %}
{% block cuerpo %}

    <div class="contenido">
        <div class="formAdmin">
            <form id="formAdmin" method="post"  action="/home">
                <div class="contenido-form">
                    <div class="secctionForm">
                        <div class="elementImg">
                            <img src="{{url_for('static',filename='img/foto.jpeg')}}" alt="">
                        </div>
                        
                        <div class="elements">
                            <div class="element">
                                {{ prueba.nombres(size=100, minlength=1, maxlength=100) }}
                                {{ prueba.nombres.label }}
                            </div>
    
                            <div class="element">
                                {{ prueba.apellidos(size=100, minlength=1, maxlength=100) }}
                                {{ prueba.apellidos.label }}
                            </div>
    
                            <div class="element">
                                {{ prueba.fechaNacimiento}}
                                {{ prueba.fechaNacimiento.label }}
                            </div>
    
                            <div class="element">
                                {{ prueba.numeroDocumento}}
                                {{ prueba.numeroDocumento.label }}
                            </div>
    
                            <div class="element">

                                {{ prueba.tipoDoc}}
                                {{ prueba.tipoDoc.label}}

                            </div>
    
                            <div class="element">

                                {{ prueba.clave}}
                                {{ prueba.clave.label}}

                            </div>
                        </div>
                    </div>  

                    <div class="secctionForm">
                        <div class="element">
                            {{ prueba.telefono}}
                            {{ prueba.telefono.label}}
                        </div>

                        <div class="element">
                            {{ prueba.email}}
                            {{ prueba.email.label}}
                        </div>

                        <div class="element">
                            {{ prueba.salario}}
                            {{ prueba.salario.label}}
                        </div>

                        <div class="element">
                            {{ prueba.tipoContrato}}
                            {{ prueba.tipoContrato.label}}
                        </div>

                        <div class="element">
                            {{ prueba.fechaTerminoContrato}}
                            {{ prueba.fechaTerminoContrato.label}}
                        </div>

                        <div class="element">
                            {{ prueba.fechaIngreso}}
                            {{ prueba.fechaIngreso.label}}
                        </div>
                        
                        <div class="element">
                            {{ prueba.cargo}}
                            {{ prueba.cargo.label}}
                        </div>

                        <div class="element">
                            {{ prueba.tipoUsuario}}
                            {{ prueba.tipoUsuario.label}}
                        </div>

                        {{ prueba.btnEnviar}}
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% if parametros['proceso'] != '' %}
        <script>

            document.addEventListener('DOMContentLoaded', function(){
                Swal.fire({
                    icon: "{{parametros['icon']}}",
                    title: "{{parametros['descripcion']}}"
                }).then((result) => {
                    document.querySelector('#formAdmin').reset();
                    console.log("Hola que hace");
                })
            })

        </script>
    {% endif %}
{% endblock %}
