{% extends 'index.html' %}
{% block cuerpo %}

    <div class="contenido">
        <div class="formAdmin">
            <form id="formAdmin" method="post"  action="{{parametros['urlAction']}}">
                <div class="contenido-form">
                    {% if parametros['accion'] == 'editar' %}
                        <div class="secctionForm">
                            <div class="elementImg">
                                <img src="{{url_for('static',filename='img/foto.jpeg')}}" alt="">
                            </div>
                            
                            <div class="elements">
                                <div class="element">
                                    {{ prueba.nombres(size=100, minlength=1, maxlength=100, value = parametros['datosUsuario'][0][1] ) }}
                                    {{ prueba.nombres.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.apellidos(size=100, minlength=1, maxlength=100, value = parametros['datosUsuario'][0][2]) }}
                                    {{ prueba.apellidos.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.fechaNacimiento(value = parametros['datosUsuario'][0][3])}}
                                    {{ prueba.fechaNacimiento.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.numeroDocumento(value = parametros['datosUsuario'][0][0])}}
                                    {{ prueba.numeroDocumento.label }}
                                </div>
        
                                <div class="element">

                                    {{ prueba.tipoDoc}}
                                    {{ prueba.tipoDoc.label}}

                                </div>
        
                                <div class="element">

                                    {{ prueba.clave}}
                                    {{ prueba.clave.label}}

                                </div>
                            </div>
                        </div>  

                        <div class="secctionForm">
                            <div class="element">
                                {{ prueba.telefono(value = parametros['datosUsuario'][0][4])}}
                                {{ prueba.telefono.label}}
                            </div>

                            <div class="element">
                                {{ prueba.email(value = parametros['datosUsuario'][0][5])}}
                                {{ prueba.email.label}}
                            </div>

                            <div class="element">
                                {{ prueba.salario(value = parametros['datosUsuario'][0][7])}}
                                {{ prueba.salario.label}}
                            </div>

                            <div class="element">
                                {{ prueba.tipoContrato(value = parametros['datosUsuario'][0][6])}}
                                {{ prueba.tipoContrato.label}}
                            </div>

                            <div class="element">
                                {{ prueba.fechaTerminoContrato(value = parametros['datosUsuario'][0][8])}}
                                {{ prueba.fechaTerminoContrato.label}}
                            </div>

                            <div class="element">
                                {{ prueba.fechaIngreso(value = parametros['datosUsuario'][0][11])}}
                                {{ prueba.fechaIngreso.label}}
                            </div>
                            
                            <div class="element">
                                {{ prueba.cargo(value = parametros['datosUsuario'][0][12])}}
                                {{ prueba.cargo.label}}
                            </div>

                            <div class="element">
                                {{ prueba.tipoUsuario(value = parametros['datosUsuario'][0][13])}}
                                {{ prueba.tipoUsuario.label}}
                            </div>
                            

                            {% if request.args.get('accion') == 'edicionUsuario' %}

                                <input type="submit" value="Editar usuario">

                            {% else %}
                            
                                <input type="submit" value="Crear usuario">

                            {% endif %}
                            
                        </div>
                        <script>
                            let tipodoc =document.querySelector("#tipoDoc");
                            tipodoc.selectedIndex = "{{parametros['datosUsuario'][0][10]}}";
                            //let pass = document.querySelector("#clave");
                            //pass.value="{{parametros['datosUsuario'][0][9]}}";
                            let tipousu= document.querySelector("#tipoUsuario");
                            let ntu="{{parametros['datosUsuario'][0][14]}}";
                            
                            switch (ntu) {
                                case "Administrador":
                                    ntu=1;
                                    break;
                            
                                default:
                                    ntu=2;
                                    break;
                            }
                            tipousu.selectedIndex = ntu;    
                            
                            let tipo_contrato=document.querySelector("#tipoContrato")
                            
                            let desctc="{{parametros['datosUsuario'][0][6]}}";
                            let ntc=-1
                            switch (desctc) {
                                case "Termino fijo":
                                    ntc=1;
                                    break;
                                case "Termino indefinido":
                                    ntc=2;
                                    break;
                                case "Obra o labor":
                                    ntc=3;
                                    break;
                                case "Aprendizaje":
                                    ntc=4;
                                    break;
                                case "Temporal ocasional o accidental":
                                    ntc=5;
                                    break;
                                case "Prestación de servicios":
                                    ntc=6;
                                    break;
                                default:
                                    ntc=-1;
                                    break;
                            }
                            tipo_contrato.selectedIndex= ntc;
                            // parametros['datosUsuario'][0][6]
                        </script>
                        {% else %}
                        <div class="secctionForm">
                            <div class="elementImg">
                                <img src="{{url_for('static',filename='img/foto.jpeg')}}" alt="">
                            </div>
                            
                            <div class="elements">
                                <div class="element">
                                    {{ prueba.nombres(size=100, minlength=1, maxlength=100) }}
                                    {{ prueba.nombres.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.apellidos(size=100, minlength=1, maxlength=100) }}
                                    {{ prueba.apellidos.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.fechaNacimiento}}
                                    {{ prueba.fechaNacimiento.label }}
                                </div>
        
                                <div class="element">
                                    {{ prueba.numeroDocumento}}
                                    {{ prueba.numeroDocumento.label }}
                                </div>
        
                                <div class="element">

                                    {{ prueba.tipoDoc}}
                                    {{ prueba.tipoDoc.label}}

                                </div>
        
                                <div class="element">

                                    {{ prueba.clave}}
                                    {{ prueba.clave.label}}

                                </div>
                            </div>
                        </div>  

                        <div class="secctionForm">
                            <div class="element">
                                {{ prueba.telefono}}
                                {{ prueba.telefono.label}}
                            </div>

                            <div class="element">
                                {{ prueba.email}}
                                {{ prueba.email.label}}
                            </div>

                            <div class="element">
                                {{ prueba.salario}}
                                {{ prueba.salario.label}}
                            </div>

                            <div class="element">
                                {{ prueba.tipoContrato}}
                                {{ prueba.tipoContrato.label}}
                            </div>

                            <div class="element">
                                {{ prueba.fechaTerminoContrato}}
                                {{ prueba.fechaTerminoContrato.label}}
                            </div>

                            <div class="element">
                                {{ prueba.fechaIngreso}}
                                {{ prueba.fechaIngreso.label}}
                            </div>
                            
                            <div class="element">
                                {{ prueba.cargo}}
                                {{ prueba.cargo.label}}
                            </div>

                            <div class="element">
                                {{ prueba.tipoUsuario}}
                                {{ prueba.tipoUsuario.label}}
                            </div>
                            

                            {% if request.args.get('accion') == 'edicionUsuario' %}

                                <input type="submit" value="Editar usuario">

                            {% else %}
                            
                                <input type="submit" value="Crear usuario">

                            {% endif %}
                            
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>


    {% if parametros['proceso'] != '' %}
        <script>

            document.addEventListener('DOMContentLoaded', function(){
                Swal.fire({
                    icon: "{{parametros['icon']}}",
                    title: "{{parametros['descripcion']}}"
                }).then((result) => {
                    let typeRequest = "{{parametros['descripcion']}}";

                    if (typeRequest == 'Registro exitoso') {
                        window.location.href = '/crear-usuario/';
                    }

                    if (typeRequest == 'Actualización exitosa'){
                        window.location.href = '/gestionar-usuario/';
                    }
                })
            })

        </script>
    {% endif %}
{% endblock %}
