<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/estilos.css"> -->
    <script src="https://kit.fontawesome.com/591d6b1660.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/empleado.css')}}">
    <title>Inicio</title>
</head>

<body>
    <!-- Encabezado -->
    <header>
        <div class="titulo">
            <h1>Empleado</h1>
        </div>
        <!-- Imagen de perfil -->
        <!--         <img src="{{url_for('static',filename='img/foto.jpeg')}}" title="Alejandro Valencia">
 -->
        <!--  <div class="imgUser">
            <div class="box"> -->
        <input type="checkbox" id="foto">
        <label for="foto"><img src="{{url_for('static',filename='img/foto.jpeg')}}" alt=""></label>
        <ul class="opciones">
            <!-- <li><a href="#">Cambiar contraseña</a></li> -->
            <li><a href="/logout/">Cerrar sesión</a></li>
        </ul>
        <!--    </div>
        </div> -->
    </header>

    <!-- Contenedor -->
    <div class="contenedor">
        <!-- Estadisticas de puntuaciones -->
        <div class="info-mensual">
            <div class="puntos">
                <div class="ranking">
                    <p>Ranking obtenido</p>
                    <p>24 / 100</p>
                </div>
                <div class="grafico">
                    <img src="{{url_for('static',filename='img/grafico.PNG')}}" alt="">
                </div>
            </div>
            <!-- Retroalimentación -->
            <div class="retroalimentacion">
                <h2>Retroalimentación</h2>
                <p> {{infoReporte[0][1]}} </p>
            </div>
        </div>
        <!-- Información sobre el empleado -->
        <div class="info">
            <div class="perfil">
                <!-- Foto del empleado -->
                <img src="../static/img/foto.jpeg" alt="">
                <p>{{datosSesion[0][1]}} {{datosSesion[0][2]}} </p>
            </div>
            <div class="datos">
                <p>C.C: {{datosSesion[0][0]}}</p>
                <p>Tel: {{datosSesion[0][4]}}</p>
                <p>Email: {{datosSesion[0][5]}}</p>
                <p>Fecha de ingreso: {{datosSesion[0][11]}}</p>
                <p>Salario: {{datosSesion[0][7]}}</p>
                <p>Cargo: {{datosSesion[0][12]}}</p>
            </div>
            <!-- Puntuación recibida -->
            <div class="puntuacion">
                <p class="puntos">{{infoReporte[0][2]}}</p>
                <p>Puntos</p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="enlaces">
            <a href="#">Política de privacidad</a>
            <span>-</span>
            <a href="#">Política de cookies</a>
        </div>
        <!-- Iconos -->
        <div class="iconos">
            <i class="fab fa-facebook-square" title="Facebook"></i>
            <i class="fab fa-linkedin" title="Linkedin"></i>
            <i class="fab fa-youtube" title="Youtube"></i>
            <i class="fab fa-twitter" title="Twitter"></i>
            <i class="fab fa-instagram" title="Instagram"></i>
        </div>
    </footer>
</body>

</html>