{% extends 'index.html' %}
{% block cuerpo %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />

<div class="gestionUsuarios">
    <div class="contenedorTable">
        <table id="usuarios">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Num documento</th>
                    <th>Cargo</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario[1] }} {{usuario[2] }}</td>
                        <td>{{ usuario[0] }}</td>
                        <td>{{ usuario[12] }}</td>
                        <td>{{ usuario[4] }}</td>
                        <td>
                            <div class="acciones">
                                <button data-bs-toggle="modal" onclick="cargarInfoModal('{{usuario[0]}}','{{usuario[1]}} {{usuario[2]}}')" data-bs-target="#staticBackdrop" title="Retroalimentar"><i class="fas fa-stream"></i></button>
                                <a href="/crear-usuario/?idUsuario={{usuario[0]}}&accion=edicionUsuario" title="Editar"><i class="fas fa-edit"></i></a>
                                <button data-value="{{usuario[0]}}" id="btn{{usuario[0]}}" onclick="eliminarUsuario('btn{{usuario[0]}}')" class="delete" title="Eliminar"><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog modal-lg vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Desempeño mensual</h5>
                    <button type="button" onclick="limpiarModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <p style="font-size: 13px;">Empleado: <span id="nombreEmpleado"></span></p>
                            </div>

                            <div class="col-lg-12">
                                <form action="" id="formRetroalimentacion">
                                        <div class="row">
                                            
                                            <div class="col-lg-2">
                                                <label>puntaje</label><small id="descripcionEmpleado" class="text-danger">*</small>
                                                <input id="puntajeUsuario" type="number" class="form-control">

                                                <input type="hidden" id="idUsuarioModal">
                                            </div>

                                            <br>
                                            <div class="col-lg-12">
                                                <label>Descripción</label><small id="descripcionEmpleado" class="text-danger">*</small>
                                                <textarea id="descripcionRetrolimentacion" type="text" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 160px;" id=""></textarea>

                                                <input type="hidden" id="idUsuarioModal">
                                            </div>

                                        </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="generarRetroalimentacion()">Generar</button>
                    </div>
                </div>
                </div>
            </div>
          </div>
    </div>
</div>


<script src="https://releases.jquery.com/git/jquery-git.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>

<script>

    $(document).ready(function () {
        function inicializarTable() {
            var table = $('#usuarios').DataTable({
                //"order": [[0, "asc"]],
                //scrollY: $(window).height() * 0.5,
                //scrollX: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                dom: 'Bfrtip',


                buttons: [
                    'copy',
                    'csv',
                    'excel',
                    'pdf',
                    'print'
                ],
                //scrollCollapse: true,
                //paging: true,
                fixedColumns: {
                    leftColumns: 2,
                },
                "pageLength": 10
            });


            let statusDelete = "{{parametros['estadoUpdate']}}";
            console.log(statusDelete);

            if (statusDelete == 'delete succes') {

                Swal.fire({
                    icon: "success",
                    title: "Eliminación exitosa"
                }).then((result) => {
                    window.location.href = '/gestionar-usuario/';
                })

            } else if (statusDelete == 'delete error') {

                Swal.fire({
                    icon: "error",
                    title: "Ha ocurrido un error, intenta nuevamente"
                })

            } else if (statusDelete == 'insert report error'){

                Swal.fire({
                    icon: "error",
                    title: "Ha ocurrido un error al generar el reporte, intenta nuevamente"
                })

            } else if (statusDelete == 'insert report succes'){
                Swal.fire({
                    icon: "success",
                    title: "Reporte generado"
                }).then((result) => {
                    window.location.href = '/gestionar-usuario/';
                })
            }
        }

        inicializarTable();
        
    });

    function eliminarUsuario(idEliminar){
        let btnEliminar = document.querySelector('#'+idEliminar);

        Swal.fire({
            title: 'Desea eliminar este usuario?',
            text: "Estas realmente seguro?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                
                let idUsuario = btnEliminar.getAttribute('data-value');
                window.location.href = '/gestionar-usuario/?idUsuario='+idUsuario+'&accion=eliminarUsuario';

            }
        })
    }

    function cargarInfoModal(idUsuario, nombreUsuario){
        document.querySelector('#nombreEmpleado').innerHTML = nombreUsuario;
        document.querySelector('#idUsuarioModal').value = idUsuario;
    }

    function limpiarModal(){
        document.querySelector('#formRetroalimentacion').reset();
    }

    function generarRetroalimentacion(){

        Swal.fire({
            title: '¿Generar reporte?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                
                
                let idUsuario = document.querySelector('#idUsuarioModal').value;
                let descripcion = document.querySelector('#descripcionRetrolimentacion').value;
                let puntaje = document.querySelector('#puntajeUsuario').value;

                if (descripcion == '' || puntaje == '') {
                    Swal.fire({
                        title: 'Llene todos los campos',
                        icon: 'error'
                    })
                }else{
                    window.location.href = '/gestionar-usuario/?idUsuario='+idUsuario+'&accion=generarReporte&descripcion='+descripcion+"&puntaje="+puntaje;
                }

            }
        })
    }

</script>

{% endblock %}